.step4 {
  .personalInfo {
    padding: 1rem;
    padding-top: 2rem !important;
    height: 50vh !important;
  }
  .additionalPay {
    padding: 0.5rem 1rem;

    .additional {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
  }
}
.colorIt {
  border-radius: 10px;
  border: 15px;
  background-color: #f3f5ff;
  .typeOfSub {
    padding: 1rem 1rem 0 1rem;
    .bigText-1 {
      color: #0b294b;
      font-weight: 500;
    }
    .smallText-1 {
      color: #838383;
      padding-top: 0.25rem;
      border-bottom: 1px solid #eaebf0;
      padding-bottom: 1rem;
    }
  }
}
.texty {
  color: #838383;
}
.pricePayed {
  color: #7c79da;
  font-weight: 500;
}
.total {
  padding: 2rem 1rem;

  color: #838383;
  .priceTotal {
    color: #7c79da;
    font-weight: 500;
  }
}
